<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<p>This is a simple exhibition of node.js, HBS, Git, and Heroku being used to deploy a web application.</p>
		
		{{> footer}}
	</body>
</html>
